.block {
  width: 90%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto 15px auto;

  .user-area {
    width: 100%;
    height: 20%;
    margin: 15px 0px;
    display: flex;

    .profile {
      width: 56px;
      height: 56px;
      background-color: rgb(146, 146, 146);
      border-radius: 50%;
      margin: auto 15px;
    }

    div:nth-child(2) {
      margin: auto 0px;

      div:nth-child(1) {
        color: black;
        font-size: 20px;
        font-weight: bold;
      }

      div:nth-child(2) {
        color: rgb(146, 146, 146);
        font-size: 15px;
      }
    }
  }

  .content-area {
    width: 96%;
    margin: 2px 2%;

    .content-view {
      word-wrap: break-word;
      word-break: keep-all;
      display: -webkit-box;
      //-webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content-view-expand {
      height: auto;
    }

    .vote-view {
      height: 55%;
      margin: 15px 0;

      .vote-box {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        margin-top: 5px;

        border: 1px solid black;
        display: flex;
        align-items: center;
        &:hover {
          background: #eee;
        }
      }

      .isvote-false {
        padding-left: 20px;
      }
    }
  }

  .etc-area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-right: 15px;

    div {
      display: flex;
      align-items: center;
      font-size: 20px;

      .attached-image {
        height: 60px;
        border-radius: 4px;

        img {
          width: 70px;
          height: 60px;
        }
      }

      .icon {
        width: 32px;
        height: 32px;
        margin-left: 10px;
        margin-top: 5px;
        padding: 5px;

        .image {
          object-fit: cover;
        }
      }

      .icon:hover {
        background-color: #eee;
        border-radius: 4px;
      }
    }
  }
}
