.block-pop-up-wrap {
  display: flex;
  background-color: white;
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: 820px) {
    flex-direction: column;
    overflow-y: scroll;
  }

  .pop-up-left {
    width: 70%;
    height: 100%;

    @media screen and (max-width: 820px) {
      width: 100%;
      height: auto;
    }

    .hidden {
      display: none;
    }

    .content-view {
      height: calc(100% - 50px);
      max-height: 100%;
      padding: 15px 15px 0px 15px;
      overflow: scroll;

      @media screen and (max-width: 820px) {
        width: 100%;
        height: 300px;
      }

      .user-area {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .user-profile {
          display: flex;

          .profile {
            width: 56px;
            height: 56px;
            background-color: rgb(146, 146, 146);
            border: 1.5px solid rgb(255, 166, 0);
            border-radius: 50%;
            margin-right: 15px;
          }

          div:nth-child(2) {
            div:nth-child(1) {
              color: black;
              font-size: 20px;
              font-weight: bold;
            }

            div:nth-child(2) {
              color: rgb(146, 146, 146);
              font-size: 15px;
              display: flex;
            }
          }
        }

        .delete-btn {
          background-color: rgb(255, 98, 98);
          font-size: 15px;
          color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }

      .content-area {
        width: 100%;
        max-height: 100%;
        padding-right: 8px;
        overflow: scroll;
        overflow-y: scroll;

        @media screen and (max-width: 820px) {
          height: auto;
        }

        .content {
          width: 100%;
        }

        .vote {
          width: 100%;
          margin: 15px 0;

          .vote-box {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            margin-top: 5px;
            padding-left: 20px;
            border: 1px solid black;
            text-align: left;
            &:hover {
              background: #eee;
            }
          }
        }
      }
    }

    .picture-view {
      height: calc(100% - 50px);
      max-height: 100%;
      background-color: black;

      @media screen and (max-width: 820px) {
        width: 100%;
        height: 300px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      button {
        color: white;
        position: absolute;
        margin: 30px;
      }
    }

    .etc-area {
      width: 100%;
      height: 52px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      div {
        display: flex;
        align-items: center;
        font-size: 20px;
        height: 100%;

        .img-btn {
          height: 100%;

          img {
            width: 70px;
            height: 100%;
            object-fit: cover;
          }
        }

        .icon {
          width: 40px;
          height: 40px;
          background-color: rgb(146, 146, 146);
          border-radius: 100%;
          margin: 5px;
        }
      }
    }
  }

  .pop-up-right {
    width: 30%;
    height: 100%;
    border-left: 1px solid black;

    @media screen and (max-width: 820px) {
      width: 100%;
      height: auto;
    }

    .header {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;

      @media screen and (max-width: 820px) {
        display: none;
      }
      button {
        font-size: 20px;
      }

      .icon {
        width: 35px;
        height: 35px;
        margin-top: 5px;
      }
    }

    .comment-container {
      background-color: white;
      width: 100%;
      height: calc(100% - 50px);
      position: relative;

      @media screen and (max-width: 820px) {
        height: auto;
      }

      .comment-view-box {
        height: calc(100% - 100px);
        overflow: scroll;

        .comment-threshold {
          height: 0px;

          @media screen and (max-width: 820px) {
            height: 100px;
          }
        }
      }
      .comment-write-box {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0px;

        .comment-input {
          width: 100%;
          padding: 16px;
          resize: none;
          border: none;
          box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.2);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          vertical-align: top;
          font-size: 14px;
        }

        .write-comment-box {
          width: 100%;
          height: 40px;

          .write-comment-button {
            width: 100%;
            height: 100%;
            background-color: orange;
            color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
