.user-info-wrap {
  padding: 36px 24px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;

  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .profile {
    width: 60px;
    height: 60px;
    margin: 12px auto 24px;
    border-radius: 30px;
    border: 1.5px solid rgb(255, 165, 0);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .user-info {
    padding: 8px 0;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 270px) {
      display: block;
    }

    h3 {
      margin-right: 12px;
      color: #111;
      font-size: 14px;
      font-weight: normal;
    }
  }
}
