.user-board-wrap {
  padding: 36px 24px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  max-width: 720px;
  max-height: 500px;
}

@media screen and (max-width: 720px) {
  .user-board-wrap {
    margin: 0 5%;
  }
}

.user-board-wrap h2 {
  font-size: 20px;
  font-weight: 500;
}

.user-board-wrap .board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.user-board-wrap .board-container h3 {
  font-size: 16px;
  padding-right: 24px;
  border-right: 1px solid #eee;
}

@media screen and (max-width: 420px) {
  .user-board-wrap .board-container h3 {
    display: none;
  }
}

.user-board-wrap .board-container h3 span {
  font-weight: normal;
}

.user-board-wrap .board-container .board-box {
  width: 100%;
  overflow: scroll;
  padding: 12px;
  max-height: 400px;
}

.user-board-wrap .board-container .board-box .board {
  border-bottom: 1px solid #eee;
  padding: 12px 24px 12px;
}

.user-board-wrap .board-container .board-box .board:hover {
  background-color: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.user-board-wrap .board-container .board-box .board .user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #333;
  font-weight: lighter;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 510px) {
  .user-board-wrap .board-container .board-box .board .user-area .create-time {
    display: none;
  }
}

.user-board-wrap .board-container .board-box .board .user-area .username {
  font-weight: normal;
}

.user-board-wrap .board-container .board-box .board .user-area .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid orange;
  margin-right: 2%;
}

@media screen and (max-width: 500px) {
  .user-board-wrap .board-container .board-box .board .user-area .profile {
    width: 28px;
    height: 28px;
  }
}

.user-board-wrap .board-container .board-box .board .user-area .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-board-wrap .board-container .board-box .board .content-area {
  text-align: left;
  padding-top: 6px;
  color: #111;
  font-size: 12px;
}

.user-board-wrap .board-container .board-box .board .content-area .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-board-wrap .board-container .board-box .board .content-area .content .content-view {
  width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-board-wrap .board-container .board-box .board .content-area .content .image-area {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-left: 6px;
}

.user-board-wrap .board-container .board-box .board .content-area .content .image-area img {
  width: 100%;
  height: 100%;
}

.user-board-wrap .board-container .board-box .board .content-area .vote-count {
  padding-top: 4px;
  color: #333;
  font-size: 12px;
  font-weight: lighter;
}

.user-board-wrap .board-container .board-box .board .etc-area {
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.user-board-wrap .board-container .board-box .board .etc-area .icon-area img {
  width: 16px;
  height: 16px;
  margin: 0 6px;
}
/*# sourceMappingURL=userBoard.css.map */