.HeaderContainer {
  display: flex;
  position: fixed;
  height: 15%;
  top: 0;
  left: 0;
  right: 0;
}

.left {
  flex: 0.25;
  /* background-color: aqua; */
}

.middle {
  flex: 0.5;
  /* background-color: beige;*/
} 

.right-empty {
  flex: 0.1;
  /* background-color: lightblue; */
}

.right-alarm {
  flex: 0.075;
}

.right-profile {
  flex: 0.075;
}