.profile-button {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}

.profile-button li {
  width: 100%;
  margin-right: 10px;
  display: block;
  background-color: tomato;
  border: solid gray 1px;
  font-size: 50%;
}
.close {
  display: none;
}

.open {
  display: inline;
  
}